.profile__edit-button {
  background-image: url(../../../images/edit-button.svg);
  background-repeat: no-repeat;
  background-color: #000;
  background-position: center;
  grid-column-start: 2;
  grid-row-start: 1;
  margin: 15px 0 0 18px;
  padding: 0;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  fill: solid;
  border: 1px solid #fff;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: .5;
}

@media screen and (max-width: 767px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin: 8px 19px 28px 0;
  }
}


