.entrance__input {
  text-decoration: none;
  font-family: 'inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #CCCCCC;
  width: 358px;
  height: 14px;
  background-color: black;
}