.element__delete {
  padding: 0;
  color: #fff;
  grid-column-start: 1;
  grid-row-start: 1;
  border: none;
  background: transparent;
  background-image: url(../../../images/delete.svg);
  width: 18px;
  height: 19px;
  margin: 20px 20px 0 244px;
  z-index: 1;
  cursor: pointer;
}

.element__delete:hover {
  opacity: .6;
}

.element__like:hover {
  opacity: .6;
}
