.popup__input_type_title {
  font-family: 'inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  padding: 0 0 13px 0;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0, .2);
}
