.profile__info {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 2;
  width: 336px;
  margin: 22px 0 25px 30px;
}


@media screen and (max-width: 767px) {
  .profile__info {
    width: 282px;
    margin: 22px 0 0 0;
  }
}