.elemants {
  margin: 51px 200px 0 200px;
  max-width: 880px;
  display: grid;
  grid-template-columns: repeat(3, 282px);
  gap: 20px 17px;
  justify-content: center;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .elemants {
    margin: 51px 72px 0 72px;
    
  }
}
  
  @media screen and (min-width: 768px) and (max-width: 1023px) {
  .elemants {
    margin: 51px 72px 0 72px;
    grid-template-columns: repeat(2, 282px);
    grid-template-rows: repeat(3, 361px);
  }
}

@media screen and (max-width: 767px) {
  .elemants {
    margin: 0 19px 0 19px;
    padding-top: 36px;
    max-width: 282px;
    min-height: 2268px;
    grid-template-columns: 282px;
    grid-template-rows: repeat(6, 361px);
    gap: 20px 0;
  }
}